<%=render partial: "application/errors", locals: {errors: @errors} %>

<p class="flash"><%= flash[:message] %></p>

<div class="form">
  <%= form_for :user do |f| %>
    <%= f.label "Username:" %><br>
    <%= f.text_field :username %>
    <br><br>
    <%= f.label "Password:" %><br>
    <%= f.password_field :password %>
    <br><br>
    <%= f.submit "Log In" %>
  <%end%>
</div>      