<div class="form">

  <%= form_for(@drink, url: form_url_helper(@item)) do |f| %>

   <%= f.label "Name:" %><br>
   <%= f.text_field :drink_name %>
   <br><br> 

   <%= f.label "Submit an image url: " %><br>
   <%= f.text_field :drink_thumb %>
   <br><br>

   <%if !@item %>
   <%= f.label "Select a main ingredient:" %>
   <%= f.collection_select :item_id, Item.all, :id, :name, prompt: true %>
   <%end%>

   <br><br>
   <%= f.submit "Save" %>
   <%end%>
</div>