<div class="container">

<p class="flash"><%= flash[:message] %></p>

<h3>All Drinks</h3>

<%= form_tag drinks_path, method: :get do %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search Drink" %>
<%end%> 

<%= render partial: 'drinks', locals: {drinks: @drinks} %>

</div>    