<div class="container">

<p class="flash"><%= flash[:message] %></p>

<h3>All Drinks</h3>

<%= form_with url: drinks_path, method: :get do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "Search Drink" %>
<%end%> 

<%= render partial: 'drinks', locals: {drinks: @drinks} %>

</div> 