<div class="container" id="drink_page">

<p class="flash"><%= flash[:message] %></p>

<h3><%= @drink.drink_name %></h3><br>
<small><i>created by user: <%= @drink.user.username %></small><br />
<small><i>Last updated on: <%= @drink.updated_at.strftime("%B %d, %Y") %></small>


<img src="<%= @drink.drink_thumb %>" alt="drink image" width="50%"><br />

<p><%= @drink.recipe %></p>

<br><br>
<% if current_user == @drink.user %>
<button type="button", class="btn btn-info btn-sm"><%= link_to "Edit Drink", edit_drink_path(@drink), class: 'btn btn-info btn-sm' %></button>
<button type="button", class="btn btn-info btn-sm"><%= button_to "Delete Drink", @drink, method: :delete, data: { confirm: "Do you really want to delete this item?" }, class: 'btn btn-info btn-sm' %></button>
<%end%>
<br><br>

</div>
