<div class="container">

<%= flash[:message] %>

<h3>All Ingredients</h3>

<%= form_tag items_path, method: :get do %>
    <%= text_field_tag :name %>
    <%= submit_tag "Search Ingredient" %>
<%end%> 

<br>

<%= render partial: 'items', locals: {items: @items} %>


</div>