<div class="container">

<p class="flash"><%= flash[:message] %></p>
  
  <%= link_to "Add Drink with Ingredient", new_item_drink_path(@item), class: "btn-sm btn-info" %>

  <h3><%= @item.name %></h3><br>

  <img src="<%= @item.image_url %>" alt="item image" width="30%">
  
  <h5>Alcohol: <%= @item.alcohol %></h5>
  
  <br><br>
  
  <p><%= @item.description %></p>
  
  <br><br>
   
  <br><br>

<%= render partial: "drinks/drinks", locals: {drinks: @item.drinks} %>

</div>

